<section class="footer">
		<div class="bottom-area">
				<div class="bottom-area-wrap">
						<div class="row">
							<div class="col-md-4">
								<p class="copyright">Copyright © 2017 <a href="/">Polyverse Corporation</a>. All rights reserved.</p>
								<p class="copyright"><a href="privacy.html">Privacy Policy</a></p>
							</div>
							<div class="col-md-4">
								<p class="copyright">
									<a href="https://twitter.com/polyverse_io" class="twitter-follow-button" data-show-count="false">Follow @polyverse_io</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
								</p>
								<p>
									<div class="fb-follow" data-width='120' data-href="https://www.facebook.com/polyverse.io/" data-layout="standard" data-size="small" data-show-faces="true"></div>
								</p>
							</div>
							<div class="col-md-4">
								<a href="https://www.opencontainers.org/" target="_blank"><img src="img/oci_logo.png" style="height: 69px;"></a>
								<a href="https://www.docker.com/" target="_blank"><img src="img/docker-member.png" style="width: 80px;"></a>
							</div>
						</div>
				</div>
		</div>
</section>

<script src="assets/js/jquery.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/custom.js"></script>


<!-- visitor tracking -->
<script src="assets/js/analytics.js"></script>
<script type="text/javascript" src="//script.leadboxer.com/?account=28d27eb87e43a8138751ef3744685e91"></script>
<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/3389147.js"></script>
<noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=470664326621086&ev=PageView&noscript=1"/></noscript>
<div id="fb-root"></div>
<script>(function(d, s, id) {
	var js, fjs = d.getElementsByTagName(s)[0];
	if (d.getElementById(id)) return;
	js = d.createElement(s); js.id = id;
	js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10&appId=467510106652265";
	fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
